data/cars.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="java" type="javaType"/>
  <xs:complexType name="objectType">
    <xs:sequence>
      <xs:element name="class" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="by.bsuir.autobase.entity.BodyType"/>
            <xs:enumeration value="by.bsuir.autobase.entity.FuelType"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="string" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="CONVERTIBLE"/>
            <xs:enumeration value="GAS"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="voidType" name="void" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="class" use="optional"/>
    <xs:attribute type="xs:string" name="method" use="optional"/>
  </xs:complexType>
  <xs:complexType name="voidType">
    <xs:sequence>
      <xs:element type="objectType" name="object" minOccurs="0"/>
      <xs:element type="xs:string" name="int" minOccurs="0"/>
      <xs:element type="xs:string" name="double" minOccurs="0"/>
      <xs:element name="string" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="m"/>
            <xs:enumeration value="Roman"/>
            <xs:enumeration value="123"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="property" use="optional"/>
    <xs:attribute type="xs:string" name="method" use="optional"/>
  </xs:complexType>
  <xs:complexType name="javaType">
    <xs:sequence>
      <xs:element type="objectType" name="object"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="version"/>
    <xs:attribute type="xs:string" name="class"/>
  </xs:complexType>
</xs:schema>