data/purchases.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="java">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="object">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="void">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="object">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="void" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="object">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="void" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="object" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="class" minOccurs="0"/>
                                                  <xs:element type="xs:string" name="string" minOccurs="0"/>
                                                  <xs:element name="void" maxOccurs="unbounded" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="string"/>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:string" name="property" use="optional"/>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="class" use="optional"/>
                                                <xs:attribute type="xs:string" name="method" use="optional"/>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element type="xs:short" name="int" minOccurs="0"/>
                                            <xs:element type="xs:float" name="double" minOccurs="0"/>
                                            <xs:element type="xs:string" name="string" minOccurs="0"/>
                                          </xs:sequence>
                                          <xs:attribute type="xs:string" name="property" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="class" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="property" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="class"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="method"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="class"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="version"/>
      <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>
  </xs:element>
</xs:schema>